* {
    box-sizing: border-box;
}
:root {
    --primary: #5e14b3;
    --secondary: #deadde;
    --btntext: white;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    margin: 15px 30px;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items: center;
    font-size: 20px;
}
header a {
    text-decoration: none;
    color: var(--secondary);
}
main {
    border-top: 5px solid var(--primary);
    border-bottom: 5px solid var(--primary);
    text-align: center;
    padding: 20px;
}
.btn {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    color: var(--btntext);

}
.btn:hover {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 10px;
    color: var(--btntext);
}
footer {
    text-align: center;
}
/* Updated css */
.hidden {
    display: none;
}

.btn-ans{
    text-align: left;
    width: 25%;
}

.dis-questions{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 20%;
    padding-bottom: 20px;
    margin-top: 40px;
    font-size: 40px;
}

.dis-choices{
    margin-left: 25%;
    margin-right:20%;
    list-style-type: none;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
